.side-bar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
    z-index: 100;
    min-width: 15vw;
    max-width: 15vw;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: #333333;
  }
  
  .side-bar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    padding: 20px;
    color: #333333;
    border-bottom: 1px solid lightgrey;
  }
  
  .side-bar-logo {
    height: 80px;
  }
  
  .side-bar-header h1 {
    font-size: 24px;
    margin-left: 10px;
    letter-spacing: .1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  
  .side-bar-body {
    background-color: white;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    overflow-y: scroll;
  }
  
  .side-bar-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13pt;
  }
  
  .api-link {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    transition: all .1s ease;
    padding-left: 10px;
  }
  
  .api-link:hover {
    cursor: pointer;
    border-left: 5px solid #57C534;
    transition: all .1s ease;
  }
  
  .side-bar-footer {
    text-align: center;
    padding: 20px;
    background-color: #57C534;
    letter-spacing: .1em;
  }
  
  .side-bar-footer h4 {
    margin: 0;
  }
  
  .side-bar-footer a {
    font-size: 12pt;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: .1em;
  }
