.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: steelblue;
  height: 10vh;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.25em;
  margin-left: 10px;
  letter-spacing: .1em;
}

.sidebar {
  /* width: 20vw; */
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
  z-index: 100;
  width: 15vw;
}

.page-body {
  display: flex;
  flex-direction: row;
  max-height: 100%;
  z-index: 0;
  background-color: slategray;
}

.side-bar-body {
  background-color: whitesmoke;
  height: 100%;
  padding-left: 10px;
  text-align: left;
  overflow-y: scroll;
}

#docs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  text-align: left;
  width: 85vw;
  margin-left: 30px;
}

.swagger-ui {
  width: 100%;
}

.information-container {
  margin-bottom: 30px;
  margin-right: 30px;
  background-color: white;
  padding: 30px;
  font-family: 'Niramit', sans-serif;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 100;
}

.schemes {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  font-family: 'Niramit', sans-serif;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
  padding: 30px;
  max-width: 30%;
  border-radius: 5px;
  z-index: -1;
  margin: auto;
}

.schemes-title {
  margin-right: 10px;
  font-weight: bolder;
}

.schemes select {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  font-family: 'Niramit', sans-serif;
}

.auth-wrapper {
  margin-left: 30px;
}

.authorize {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: darkslateblue;
  border: 2px solid darkslateblue;
  border-radius: 150px;
  color: whitesmoke;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
  font-family: 'Niramit', sans-serif;
  font-weight: bolder;
  letter-spacing: .1em;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.api-link {
  color: #111111;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Niramit', sans-serif;
  letter-spacing: .1em;
  font-weight: bolder;
  transition: all .1s ease;
  padding-left: 10px;
}

.api-link:hover {
  cursor: pointer;
  border-left: 5px solid slategray;
  transition: all .1s ease;
}

.opblock {
  background-color: white;
  margin-bottom: 10px;
  margin-right: 30px;
  /* margin-left: 30px; */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
  transition: all .1s ease;
}

.opblock:hover {
  border-top-width: 15px;
  transition: all .1s ease;
}

.opblock-post {
  border-top: 10px solid #0074D9;
}

.opblock-get {
  border-top: 10px solid #2ECC40;
}

.opblock-delete {
  border-top: 10px solid #FF4136;
}

.opblock-patch {
  border-top: 10px solid #FF851B;
}

.opblock-put {
  border-top: 10px solid #FF851B;
}

.opblock-tag {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
  border-bottom: 1px solid lightgrey;
  transition: all .1s ease;
  font-family: 'Niramit', sans-serif;
}

.opblock-tag:hover {
  cursor: pointer;
  transition: all .1s ease;
}

.opblock-tag:hover .expand-operation {
  transform: rotate(90deg);
  transition: all .1s ease;
}

.expand-operation {
  margin-left: auto;
  border: none;
  background-color: slategray;
  transition: all .1s ease;
}

.opblock-tag {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  letter-spacing: .2em;
  color: whitesmoke;
}

.opblock-tag .nostyle {
  margin-right: 50px;
}

.opblock-tag small {
  font-style: italic;
}

.opblock-summary {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.opblock-summary:hover {
  cursor: pointer;
}

.opblock-summary-method {
  margin-right: 10px;
}

.opblock-summary-method {
  display: flex;
  font-size: .8em;
  font-weight: bolder;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
  width: 60px;
  justify-content: center;
  letter-spacing: .1em;
}

.opblock-summary-get .opblock-summary-method  {
  background-color: #2ECC40;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
}

.opblock-summary-post .opblock-summary-method  {
  background-color: #0074D9;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
}

.opblock-summary-delete .opblock-summary-method  {
  background-color: #FF4136;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
}

.opblock-summary-put .opblock-summary-method  {
  background-color: #FF851B;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
}

.opblock-summary-patch .opblock-summary-method  {
  background-color: #FF851B;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
}

.opblock-summary-path {
  margin-left: 30px;
  font-weight: bolder;
  font-family: 'Niramit', sans-serif;
  letter-spacing: .2em;
  /* width: 250px; */
}

.opblock-summary-description {
  font-style: italic;
  font-size: .75em;
  margin-left: 30px;
  margin-right: 30px;
  position: static;
  float: right;
  letter-spacing: .25em;
}

.opblock-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 30px;
  border-top: 1px solid lightgrey;
  /* background-color: whitesmoke; */
  padding: 10px;
  font-family: 'Niramit', sans-serif;
}

.opblock-description-wrapper {
  width: 100%;
}

.opblock-section {
  width: 40%;
  padding: 10px;
  padding-right: 30px;
  /* margin-right: 30px; */
}

.try-out__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: darkslateblue;
  border: 2px solid darkslateblue;
  border-radius: 150px;
  color: whitesmoke;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
  font-family: 'Niramit', sans-serif;
  font-weight: bolder;
  letter-spacing: .1em;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.opblock-section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.opblock-section-header label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.opblock-section-header span {
  font-size: .6em;
}

.opblock-section-header select {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  font-family: 'Niramit', sans-serif;
}

.execute-content-type {
  margin-left: 30px;
}

.parameters {
  width: 100%;
}

.parameters thead {
  font-size: 1.25em;
  letter-spacing: .1em;
}

.parameters-col_name {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 200px;
}

.parameter__name {
  font-weight: bolder;
}

.parameter__type {
  font-style: italic;
  font-size: .75em;
}

.parameter__in {
  font-style: italic;
  font-weight: bolder;
  font-size: .75em;
}


.opblock-section .highlight-code {
  /* min-width: 500px; */
  max-width: 30vw;
  border: 1px solid black;
  padding: 30px;
  color: whitesmoke;
  background-color: #111111;
  font-family: 'Cutive Mono', monospace;
  overflow-x: scroll;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.responses-wrapper {
  max-width: 50%;
  padding: 30px;
  padding-top: 10px;
  border-left: 1px solid lightgrey;
}

.responses-wrapper .highlight-code {
  max-height: 50vh;
  margin-right: 10px;
  width: 35vw;
  border: 1px solid black;
  padding: 30px;
  color: whitesmoke;
  background-color: #111111;
  font-family: 'Cutive Mono', monospace;
  overflow-x: scroll;
  overflow-wrap: break-word;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.highlight-code span {
  color: whitesmoke !important;
}

.response>td {
  padding-bottom: 30px;
  border-collapse: collapse;
}

.response-col_status {
  display: flex;
  align-content: flex-start;
  justify-content: flex-end;
}

.response-col_description__inner {
  /* font-weight: bolder; */
  font-size: 1em;
}

.responses-table thead {
  font-size: 1.25em;
  letter-spacing: .1em;
  font-weight: bolder;
}

.response-col_status {
  padding-right: 20px;
  font-weight: bolder;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: slategray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: whitesmoke; 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}