.page-body {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  max-width: 100vw;
  overflow-y: hidden;
}

.docs-container {
  width: 100%;
  max-height: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  text-align: left;
  padding: 20px;
  border-radius: 5px;
}

.swagger-ui {
  width: 100%;
  padding: 0;
}

.information-container {
  margin-bottom: 30px;
  margin-right: 30px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 100;
}

.title {
  margin: 0;
  font-weight: 300;
  font-size: 28pt;
  color: #333333;
  margin-bottom: 10px;
}

.version {
  font-weight: 400;
  font-size: 12pt;
  background-color: #7D8492;
  border-radius: 5px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  width: 50px;
  padding: 10px;
  font-family: 'Roboto regular', sans-serif;
}

.base-url {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Roboto regular', sans-serif;
}

.link {
  font-size: 14pt;
  font-weight: 400;
  font-family: 'Roboto regular', sans-serif;
  color: #49A32B;
}

.description {
  color: #333333;
  font-weight: 400;
  font-size: 14pt;
  font-family: 'Roboto regular', sans-serif;
  margin-bottom: 20px;
}

.schemes {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Roboto light', sans-serif;
  font-weight: 500;
  font-size: 14pt;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

.schemes-title {
  margin-right: 10px;
}

.schemes select {
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14pt;
  text-transform: uppercase;
}

.auth-wrapper {
  margin-left: 30px;
}

.authorize {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #333333;
  border-radius: 7px;
  color: #ffffff;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14pt;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding-left: 50px;
  padding-right: 50px;
  cursor: pointer;
  border: none;
}

.opblock {
  margin-bottom: 10px;
  padding: 20px;
  padding-bottom: 5px;
  border-radius: 5px;
  transition: all .1s ease;
}

.opblock-tag {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid lightgrey;
  transition: all .1s ease;
  font-family: 'Roboto light', sans-serif;
}

.opblock-tag:hover {
  cursor: pointer;
  transition: all .1s ease;
}

.opblock-tag:hover .expand-operation {
  transform: rotate(90deg);
  transition: all .1s ease;
}

.expand-operation {
  margin-left: auto;
  border: none;
  background-color: white;
  transition: all .1s ease;
}

.opblock-tag .nostyle {
  margin-right: 20px;
  font-weight: 300;
  font-size: 20pt;
  color: #333333;
}

.opblock-tag small {
  font-family: 'Roboto light', sans-serif;
  font-size: 12pt;
  font-weight: 300;
  /* margin-left: 50px; */
  margin-right: 20px;
}

.opblock:hover {
  transition: all .1s ease;
}

.opblock-post {
  background-color: #EBF7F4;
}

.opblock-get {
  background-color: #F2F4FF;
}

.opblock-delete {
  background-color: #FBEEF2;
}

.opblock-patch {
  background-color: #FEF4EB;
}

.opblock-put {
  background-color: #FEF4EB;
}

.opblock-summary {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.opblock-summary:hover {
  cursor: pointer;
}

.opblock-summary-method {
  margin-right: 10px;
}

.opblock-summary-method {
  display: flex;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .1em;
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  width: 80px;
  justify-content: center;
  font-weight: 500;
}

.opblock-summary-get .opblock-summary-method  {
  background-color: #5773FF;
}

.opblock-summary-post .opblock-summary-method  {
  background-color: #009D77;
}

.opblock-summary-delete .opblock-summary-method  {
  background-color: #CF305C;
}

.opblock-summary-put .opblock-summary-method  {
  background-color: #E97500;
}

.opblock-summary-patch .opblock-summary-method  {
  background-color: #E97500;
}

.opblock-summary-path {
  color: #333333;
  margin-left: 30px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .1em;
  font-size: 13pt;
}

.opblock-summary-description {
  font-family: 'Roboto', light, sans-serif;
  font-weight: 300;
  font-size: 13pt;
  margin-left: 30px;
  margin-right: 30px;
  position: static;
  float: right;
  letter-spacing: .1em;
}

.authorization__btn {
  background-color: transparent;
  border: none;
}

.opblock-body {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Roboto', sans-serif;
}

.opblock-description-wrapper {
  width: 100%;
}

.opblock-section {
  /* margin-right: 30px; */
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

.try-out__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #49A32B;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Roboto', medium, sans-serif;
  font-size: 14pt;
  letter-spacing: .1em;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.opblock-section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  font-family: 'Roboto light', sans-serif;
}

.opblock-title {
  font-weight: 300;
  font-size: 20pt;
  margin: 0;
  font-family: 'Roboto', light, sans-serif;
}

.opblock-section-header label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.opblock-section-header span {
  font-size: .6em;
}

.opblock-section-header select {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}

.execute-content-type {
  margin-left: 30px;
}

.parameters {
  width: 100%;
}

.parameters thead {
  visibility: hidden;
}

.parameters-col_name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: right;
  max-width: 200px;
  padding-right: 50px;
}

.parameter__name {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14pt;
  letter-spacing: .1em;
  margin-bottom: 5px;
}

.parameter__type {
  font-weight: bold;
  font-style: italic;
  font-size: 14pt;
  margin-bottom: 5px;
  letter-spacing: .1em;
}

.parameter__in {
  font-style: italic;
  font-size: 14pt;
  letter-spacing: .1em;
}

.parameters-col_description {
  width: 60vw;
  margin: 0;
}

.parameters-col_description p {
  font-family: 'Roboto', light, sans-serif;
  font-weight: 300;
  font-size: 14pt;
  margin: 0;
}


.opblock-section .highlight-code {
  padding: 30px;
  color: whitesmoke;
  background-color: #333333;
  font-family: 'Cutive Mono', monospace;
  overflow-x: scroll;
}

.responses-wrapper {
}

.responses-wrapper .highlight-code {
  max-height: 50vh;
  margin-right: 10px;
  width: 60vw;
  padding: 30px;
  color: white;
  background-color: #333333;
  font-family: 'Cutive Mono', monospace;
  overflow-x: scroll;
}

.highlight-code span {
  color: whitesmoke !important;
}


.opblock-section-header h4 {
  font-family: 'Roboto', light, sans-serif;
  font-weight: 300;
  font-size: 20pt;
  color: #333333;
}

.response>td {
  padding-bottom: 30px;
  border-collapse: collapse;
}

.response-col_status {
  display: flex;
  align-content: flex-start;
  justify-content: flex-end;
  font-size: 14pt;
}

.response-col_description__inner {
  /* font-weight: bolder; */
  font-size: 1em;
}

.responses-table thead {
  font-size: 1.25em;
  letter-spacing: .1em;
  font-weight: bolder;
  visibility: hidden;
}

.response-col_status {
  padding-right: 20px;
  font-weight: bolder;
  width: 200px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}